solar backend/__pycache__/
solar backend/*.pyc
solar backend/venv/
solar backend/*.sqlite3
solar backend/.env


project solar/node_modules/
project solar/build/
project solar/.env


.vscode/
.DS_Store